.hello {
  text-align: center;
  margin: 20px;
  font-size: 48px;
  font-family: 'Daddy Longlegs NF', Tahoma, Geneva, Verdana, sans-serif;
}

.hello button {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0.5em;
  font-size: 40px;
  min-width: 50px;
  background-color: #8fca30
}